@using langfvn.Models;
@{
    List<Store> listStore = ViewData["listStore"] as List<Store>;
}
<section class="mt-5 mb-5 my-5" style="min-height: 80vh">
    <div class="container">
        <div class="title mb-4">
            <i>Kết quả tìm kiếm cho</i>
            <h3 class="m-0 mt-2">@ViewBag.resultReport</h3>
        </div>
        <hr />

        @if (listStore.Count() != 0)
        {
            <div class="title mb-4">
                <h4>Cửa hàng</h4>
            </div>
            <div class="slide-store">
                <button class="left-button">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <div class="row">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (Store store in listStore)
                            {
                                <div class="store">
                                    <div class="swiper-slide col p-2">
                                        <a href="/store?name=@store.StoreName">
                                            <div class="slider-box">
                                                <div class="logo" style="background-image: url('@store.Image');">
                                                    <div class="mask">
                                                        <div class="slot e-member"></div>
                                                        <div class="slot order"></div>
                                                        <div class="slot delivery"></div>
                                                        <div class="mb-1 rating">
                                                            <i class="fas fa-star"></i>
                                                            @if (store.Reviews.FirstOrDefault(r => r.StoreID == store.StoreID) != null)
                                                            {
                                                                <span>@store.Reviews.Where(r => r.StoreID == store.StoreID).Average(r => r.Star)</span>
                                                            }
                                                            else
                                                            {
                                                                <span>_</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="position">
                                                        @store.Place.PlaceName
                                                    </div>
                                                    <div class="stitle">
                                                        @store.StoreName
                                                    </div>
                                                    <div class="address">
                                                        @store.Address
                                                    </div>
                                                    <div class="review mt-3">
                                                        <!-- <i>Chua co review nao!</i> -->
                                                        <div class="d-flex align-items-center">

                                                            <div class="cmt">
                                                                @if (store.Reviews.FirstOrDefault(r => r.StoreID == store.StoreID) == null)
                                                                {
                                                                    <span>Chưa có review nào</span>
                                                                }
                                                                else
                                                                {
                                                                    <div class="badge mr-2">
                                                                        <span>@store.Reviews.OrderByDescending(r => r.StoreID).FirstOrDefault(r => r.StoreID == store.StoreID).Star</span>
                                                                    </div>
                                                                    @store.Reviews.OrderByDescending(r => r.StoreID).FirstOrDefault(r => r.StoreID == store.StoreID).Content
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <button class="right-button">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        }
    </div>
</section>

