@model langfvn.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .alert-text {
        color: red;
    }
</style>
<div class="login">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-5 col-12" style="margin: auto">
                <nav class="mt-4 mb-4">
                    <div class="nav nav-tabs"
                         id="nav-tab"
                         role="tablist">
                        <a class="nav-item nav-link active"
                           id="nav-login-tab"
                           data-toggle="tab"
                           href="#nav-login"
                           role="tab"
                           aria-controls="nav-login"
                           aria-selected="true">Đăng ký</a>
                    </div>
                </nav>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.RegisterResult != null)
                    {
                        <div class="alert-success">
                            @ViewBag.RegisterResult
                        </div>
                    }
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active"
                         id="nav-login"
                         role="tabpanel"
                         aria-labelledby="nav-login-tab">
                        @using (Html.BeginForm("register", "account", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email, new { @type = "email", @placeholder = "Email", @class = "form-control", @autofocus = "@autofocus" })
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.Email)
                                </span>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.FullName, new { @type = "text", @class = "form-control", @placeholder = "Họ Tên" })
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </span>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Phone, new { @type = "text", @class = "form-control", @placeholder = "Số điện thoại" })
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.Phone)
                                </span>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Mật khẩu" })
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.Password)
                                </span>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Xác nhận Mật khẩu" })
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </span>
                            </div>
                            <span class="alert-text">
                                @ViewBag.LoginFail
                            </span>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-secondary" style="background-color: #aa0b0b;">
                                    Đăng ký
                                </button>
                            </div>
                        }
                        <hr />
                        <div class="text-center">
                            <a href="/account/login" class="btn btn-secondary" style="background-color: #28abe3;">
                                Bạn đã có tài khoản?
                            </a>
                        </div>
                        <hr />
                        <div class="text-center">hoặc</div>
                        <hr />
                        <div class="form-group text-center">
                            <a href=""
                               class="btn btn-danger mr-2"
                               style="
                                                background-color: #db4437;
                                                border-color: #db4437;
                                            ">
                                <i class="fab fa-google"></i>
                                Google
                            </a>
                            <a href=""
                               class="btn btn-primary ml-2"
                               style="
                                                background-color: #3b5998;
                                                border-color: #3b5998;
                                            ">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


