@model langfvn.Models.Advertisement
@using System.Web.Mvc
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>QUẢN LÝ QUẢNG CÁO</h3>
<div>
    <a href="/admin/advertisements" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Quay về danh sách quảng cáo
    </a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">THÊM MỚI QUẢNG CÁO</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.AdTitle, "Tiều đề", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AdTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.AdTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.AdUrl, "Liên kết", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AdUrl, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.AdUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Image, 3, 50, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Visible, "Trạng thái", htmlAttributes: new { @class = "control-label" })
                        @{
                            var htmlAttributes = ViewData["htmlAttributes"] ?? new { };

                            @Html.DropDownListFor(model => model.Visible,
                                new List<SelectListItem>(2) {
                                new SelectListItem { Text = "Hiện", Value = "true"},
                                new SelectListItem { Text = "Ẩn", Value = "false"}
                            }, htmlAttributes = new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 mt-4">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
