@model IEnumerable<langfvn.Models.Advertisement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ QUẢNG CÁO</h1>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hãy nhập thông tin để tạo quảng cáo mới</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-flex mb-4">
    <a href="/admin/advertisements/create" class="btn btn-dark">
        <i class="fas fa-plus"></i>
        Thêm mới quảng cáo
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DANH SÁCH QUẢNG CÁO</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdTitle)
                            </td>
                            <td>
                                <img src="@item.Image" width="450" height="200" style="object-fit:cover" />
                            </td>
                            <td>
                                @if (@item.Visible == true)
                                {
                                    <h4>
                                        <span class="badge badge-pill badge-success">
                                            @String.Format("Hiện")
                                        </span>
                                    </h4>
                                }
                                else
                                {
                                    <h4>
                                        <span class="badge badge-pill badge-danger">
                                            @String.Format("Ẩn")
                                        </span>
                                    </h4>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("edit","advertisements",new { id = item.AdID })" class="btn btn-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="@Url.Action("delete","advertisements",new { id = item.AdID })" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>