@using langfvn.Models
@using PagedList.Mvc
@model PagedList.PagedList<Store>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ CỬA HÀNG</h1>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hãy nhập thông tin để tạo cửa hàng mới</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-flex mb-4">
    <a href="/admin/stores/create" class="btn btn-dark mr-2">
        <i class="fas fa-plus"></i>
        Thêm mới cửa hàng
    </a>
    <a href="/admin/kindoffoods" class="btn btn-success">
        <i class="fas fa-pizza-slice"></i>
        Thêm loại món ăn cho cửa hàng
    </a>
</div>
@if (ViewBag.SuccessMsg != null)
{
    <div id="alertMsg" class="alert alert-success" role="alert">
        <strong>@ViewBag.SuccessMsg</strong>
    </div>
}
@section ScriptAlertSuccess{
    <script>
        setTimeout(() => {
            $('#alertMsg').fadeOut('slow');
        }, 3000)
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DANH SÁCH CỬA HÀNG</h6>
    </div>
    <div class="card-body">
        <div class="form-group">
            @using (Html.BeginForm("index", "stores", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" value="@ViewBag.CurrentFilter" class="form-control" name="search" size="50" placeholder="Tìm kiếm..." />
                </div>
                <div class="form-group col-md-3">
                    @{Html.RenderAction("Places", "Stores");}
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>
                            Khu vực
                        </th>
                        <th>
                            Tên cửa hàng
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Ghi chú ưu đãi
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @{int count = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Place.PlaceName)
                            </td>
                            <td style="text-transform: uppercase">
                                @Html.DisplayFor(modelItem => item.StoreName)
                            </td>
                            <td style="width: 250px">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <img src="@item.Image" width="150" height="150" style="object-fit: cover" />
                            </td>
                            <td style="width: 250px">
                                @Html.DisplayFor(modelItem => item.NoteDiscount)
                            </td>
                            <td>
                                <a href="@Url.Action("edit","stores",new { id = item.StoreID })" class="btn btn-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="@Url.Action("delete","stores",new { id = item.StoreID })" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="pagination d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>