@using langfvn.Models
@using PagedList.Mvc
@model PagedList.PagedList<KindOfNew>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ LOẠI TIN</h1>
<div class="d-flex mb-4">
    <a href="/admin/kindofnews/create" class="btn btn-dark">
        <i class="fas fa-plus"></i>
        Thêm mới loại tin
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DANH SÁCH LOẠI TIN</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            Thể loại tin
                        </th>
                        <th>
                            Loại tin
                        </th>
                        <th>
                            Ngày khởi tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KonID)
                            </td>
                            <td style="text-transform: uppercase">
                                @Html.DisplayFor(modelItem => item.CategoryNew.CNewsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KonName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                <a href="@Url.Action("edit","kindofnews",new { id = item.KonID })" class="btn btn-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="@Url.Action("details","kindofnews",new { id = item.KonID })" class="btn btn-secondary">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a href="@Url.Action("delete","kindofnews",new { id = item.KonID })" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="pagination d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>
