@model langfvn.Models.Review

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>QUẢN LÝ REVIEW</h3>
<div>
    <a href="/admin/reviews" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Quay về danh sách review
    </a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">XÓA REVIEW #@Model.ReviewID</h6>
    </div>
    <div class="card-body">
        <div class="form-group row align-items-center mb-0">
            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">ID</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ReviewID)
            </div>
        </div>
        <div class="form-group row align-items-center mb-0">
            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Người dùng</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Account.FullName)
            </div>
        </div>
        <div class="form-group row align-items-center mb-0">
            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Review cửa hàng</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Store.StoreName)
            </div>
        </div>
        <div class="form-group row align-items-center mb-0">
            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Nội dung</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </div>
        </div>
        <div class="form-group row align-items-center mb-0">
            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Số sao</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Star)
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="alert alert-warning alert-dismissible fade show col-md-4 mt-4" role="alert">
                    <strong>Bạn có chắc chắn muốn xóa?</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        }
    </div>
</div>