@model langfvn.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>QUẢN LÝ TIN TỨC</h3>
<div>
    <a href="/admin/news" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Quay về danh sách tin tức
    </a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">THÊM MỚI TIN TỨC</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.KonID, "Loại tin", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("KonID", null, htmlAttributes: new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.KonID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.UserID, "Được tạo bởi", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Title, "Tiêu đề", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Title, 3, 50, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.LabelFor(model => model.Content, "Nội dung", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Content, 5, 50, new { @id = "ckeContent", @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Image, 5, 50, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section ScriptCkEditor{
    <script>
        $(document).ready(function () {
            CKEDITOR.config.pasteFromWordPromptCleanup = true;
            CKEDITOR.config.pasteFromWordRemoveFontStyles = false;
            CKEDITOR.config.pasteFromWordRemoveStyles = false;
            CKEDITOR.config.language = "vi";
            CKEDITOR.config.htmlEncodeOutput = false;
            CKEDITOR.config.ProcessHTMLEntities = false;
            CKEDITOR.config.entities = false;
            CKEDITOR.config.entities_latin = false;
            CKEDITOR.config.ForceSimpleAmpersand = false;
            CKEDITOR.replace("ckeContent");
        });
    </script>
}
