@model IEnumerable<langfvn.Models.CategoryNew>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ THỂ LOẠI TIN</h1>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hãy nhập thông tin để tạo thể loại tin mới</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-flex mb-4">
    <a href="/admin/categorynews/create" class="btn btn-dark mr-2">
        <i class="fas fa-plus"></i>
        Thêm mới thể loại tin
    </a>
    <a href="/admin/kindofnews" class="btn btn-warning">
        <i class="fas fa-plus"></i>
        Gán cho loại tin
    </a>
</div>
@if (ViewBag.SuccessMsg != null)
{
    <div id="alertMsg" class="alert alert-success" role="alert">
        <strong>@ViewBag.SuccessMsg</strong>
    </div>
}
@section ScriptAlertSuccess{
    <script>
        setTimeout(() => {
            $('#alertMsg').fadeOut('slow');
        }, 3000)
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DANH SÁCH THỂ LOẠI TIN</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            Thể loại
                        </th>
                        <th>
                            Ngày khởi tạo
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNewsID)
                            </td>
                            <td style="text-transform: uppercase">
                                @Html.DisplayFor(modelItem => item.CNewsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                <a href="@Url.Action("edit","categorynews",new { id = item.CNewsID })" class="btn btn-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="@Url.Action("delete","categorynews",new { id = item.CNewsID })" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
