@model langfvn.Models.Account

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>HỒ SƠ ADMIN</h3>
<div>
    <a href="/admin/accounts/profileadmin/@Model.UserID" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Quay về
    </a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">ĐỔI MẬT KHẨU</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("changepassword", "accounts", FormMethod.Post, new { onsubmit = "return validate()" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.RoleID)
                @Html.HiddenFor(model => model.FullName)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.Phone)
                @Html.HiddenFor(model => model.Address)
                @Html.HiddenFor(model => model.Unit)

                <div class="form-group">
                    <label class="control-label col-md-2" for="PasswordOld">Nhập mật khẩu cũ</label>
                    <div class="col-md-6">
                        <input type="password" id="PasswordOld" name="PasswordOld" class="form-control" required />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Nhập mật khẩu mới", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span id="message1" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                    <div class="col-md-6">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
                        <span id="message2" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        function validate() {
            var passwordnew = document.getElementById("Password").value;
            var confirmpassword = document.getElementById("ConfirmPassword").value;

            if (passwordnew.length < 6) {
                document.getElementById("message1").innerHTML = "Độ dài mật khẩu phải ít nhất 6 ký tự";
                return false;
            }

            if (passwordnew === confirmpassword) {
                return true;
            } else {
                document.getElementById("message2").innerHTML = "Mật khẩu nhập lại không trùng khớp";
                return false;
            }
        }
    </script>
}