@using langfvn.Models
@using PagedList.Mvc
@model PagedList.PagedList<Account>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ NGƯỜI DÙNG</h1>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Thêm mới người dùng bằng cách tạo tài khoản ở trang này. <a href="/account/login" target="_blank" class="text-danger">Nhấn vào đây!</a></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@if (ViewBag.SuccessMsg != null)
{
    <div id="alertMsg" class="alert alert-success" role="alert">
        <strong>@ViewBag.SuccessMsg</strong>
    </div>
}
@section ScriptAlertSuccess{
    <script>
        setTimeout(() => {
            $('#alertMsg').fadeOut('slow');
        }, 3000)
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DANH SÁCH NGƯỜI DÙNG</h6>
    </div>
    <div class="card-body">
        <div class="form-group">
            @using (Html.BeginForm("index", "accounts", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" value="@ViewBag.CurrentFilter" class="form-control" name="search" size="50" placeholder="Tìm kiếm..." />
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Trường/Đơn vị
                        </th>
                        <th>
                            Role
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td style="width: 300px">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Unit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>
                            <td>
                                <a href="@Url.Action("edit","accounts",new { id = item.UserID })" class="btn btn-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="@Url.Action("changepassword","accounts")" class="btn btn-secondary">
                                    <i class="fas fa-key"></i>
                                </a>
                                <a href="@Url.Action("delete","accounts",new { id = item.UserID })" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="pagination d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>