@model langfvn.Models.Account

@{
    ViewBag.Title = "ProfileAdmin";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800 mb-4">HỒ SƠ ADMIN</h1>
@if (ViewBag.SuccessMsg != null)
{
    <div id="alertMsg" class="alert alert-success col-md-6" role="alert">
        <strong>@ViewBag.SuccessMsg</strong>
    </div>
}
@section ScriptAlertSuccess{
    <script>
        setTimeout(() => {
            $('#alertMsg').fadeOut('slow');
        }, 3000)
    </script>
}
<div class="row">
    <div class="card shadow mb-4 col-md-8 p-0" style="margin-left: 10px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">THÔNG TIN</h6>
        </div>
        <div class="card-body">
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Họ và tên</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.FullName)
                </div>
            </div>
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Email</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Số điện thoại</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Địa chỉ</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Trường/Đơn vị</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Unit)
                </div>
            </div>
            <div class="form-group row align-items-center mb-0">
                <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Role</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Role.RoleName)
                </div>
            </div>
            <a href="@Url.Action("update","accounts",new { id = @Model.UserID })" class="btn btn-primary mt-4 mb-4">
                Cập nhật thông tin
            </a>
            <a href="@Url.Action("changepassword","accounts",new { id = @Model.UserID })" class="btn btn-danger ml-2 mt-4 mb-4">
                Đổi mật khẩu
            </a>
        </div>
    </div>
    <div class="card shadow mb-4 col-md-3 ml-4">
        <div class="card-body position-relative text-center">
            <div class="img-admin shadow">
                <i class="fas fa-user-shield"></i>
            </div>
            <h6 class="mt-5 pt-5">CEO / CO-FOUNDER</h6>
            <h5 class="text-dark font-weight-bold">Huỳnh Minh Hoàng</h5>
            <p class="mt-4 mb-4 text-justify">
                Đừng bao giờ học để thành công, hãy học vì sự ưu tú cho bản thân mình.
                Đừng chạy theo thành công, hãy theo đuổi sự ưu tú.
                Khi đó, thành công sẽ theo đuổi bạn.
            </p>
            <a href="https://www.facebook.com/HuynhMinhHoang.69/" target="_blank"
               class="btn btn-danger pl-4 pr-4" style="border-radius: 25px">Follow</a>
        </div>
    </div>
</div>
<style>
    .img-admin {
        position: absolute;
        top: -14%;
        left: 23%;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #111;
    }

        .img-admin i {
            font-size: 75px;
            color: #fff;
            transform: translate(6px, 30px);
        }
</style>


